$heading: #681d1d;
$body: #252525;
$background: #330c0c;
$text: lighten(#636363, 25%);
$border: lighten($background, 6%);

@import "./mixins";

@import "./reset";
@import "./base";
@import "./nav";
@import "./header";
@import "./footer";
@import "./intro";
@import "./schedule";
@import "./highlights";
@import "./popup";
@import "./live";