<section class="description">
    <a name="Description"></a>

    <h2>Description</h2>

    <p>Hi, I'm Lietu, an enthusiast variety streamer. I'm about as variety as variety goes, I play recent games, old games, code, dance and cut my hair on stream. I do this for fun rather than aiming to be a huge streamer or similar, so I don't often go after the same things other streamers might, e.g. popular games. I'm a real person, sometimes I get annoyed, sometimes I'm angry, but all my content is the real me.</p>

</section>