<section class="links">
<a name="Links"></a>
    <h2>Links</h2>

    <p>You can contact me, or find more information, from these places:</p>

    <ul>
        <li><a href="https://www.twitch.tv/lietu">Lietu on Twitch</a></li>
        <li><a href="https://twitter.com/lietux">@Lietux on Twitter</a></li>
        <li><a href="https://github.com/lietu">Lietu on GitHub</a></li>
        <li><a href="http://steamcommunity.com/groups/theducalknights">The Ducal Knights on Steam</a></li>
        <li>
            <a href="https://discord.gg/0UQfdHg4TAPNzMuF">Lietu's shit on Discord</a>
        </li>
    </ul>
</section>