<section class="schedule">
<a name="Schedule"></a>
    <h2>Schedule</h2>

    <p>I mostly stream on 5-7 days a week, starting roughly the same time unless I've got other more important shit to do. The schedule below is mostly indicative. I have nothing set in stone, and that nothing includes my streaming schedule.</p>

    <ul>
        <li><em>Monday</em> 3pm - 7pm UTC</li>
        <li><em>Tuesday</em> Day off</li>
        <li><em>Wednesday</em> 3pm - 7pm UTC</li>
        <li><em>Thursday</em> 3pm - 7pm UTC</li>
        <li><em>Friday</em> 3pm - 7pm UTC</li>
        <li><em>Saturday</em> 1pm - 6pm UTC</li>
        <li><em>Sunday</em> 1pm - 6pm UTC</li>
    </ul>

    <p><a href="http://www.worldtimeserver.com/time-zones/utc/">Check out the current time in UTC here.</a></p>
</section>