<section class="thanks">
<a name="Thanks"></a>
    <h2>Thanks</h2>

    <p>I've gotten a lot of help and inspiration from a number of people. I wouldn't be streaming if it wasn't for these people.</p>

    <ul>
        <li><a href="http://lietu.tv">Lietu</a></li>
        <li><a href="http://www.twitch.tv/bacon_donut">Bacon_Donut</a></li>
        <li><a href="http://www.twitch.tv/eddieruckus">EddieRuckus</a></li>
        <li><a href="http://www.twitch.tv/fypme">FYPme</a></li>
        <li><a href="http://www.twitch.tv/haughington">Haughington</a></li>
        <li><a href="http://www.twitch.tv/jacklifear">Jacklifear</a></li>
        <li><a href="http://www.twitch.tv/kimicha">Kimicha</a></li>
        <li><a href="http://www.twitch.tv/mosqiil">Mosqiil</a></li>
        <li><a href="http://www.twitch.tv/mr_beard_">Mr_Beard_</a></li>
        <li><a href="http://www.twitch.tv/straymav">StrayMav</a></li>
        <li><a href="http://www.twitch.tv/systemchalk">SystemChalk</a></li>
        <li><a href="http://thepixelpirate.tv">ThePixelPirate</a></li>
        <li><a href="http://www.twitch.tv/warwitchtv">WarwitchTV</a></li>
        <li><a href="http://www.twitch.tv/wshand">Wshand</a></li>
    </ul>

    <p>Thanks to everyone who's helped me out with the stream and anything related to it.</p>
</section>
