<section class="thanks">
<a name="Thanks"></a>
    <h2>Thanks</h2>

    <p>I've gotten a lot of help and inspiration from a number of people. I wouldn't be streaming if it wasn't for these people.</p>

    <ul>
        <li><a href="http://lietu.tv">Lietu</a></li>
        <li><a href="http://thepixelpirate.tv">ThePixelPirate</a></li>
        <li><a href="http://www.twitch.tv/warwitchtv">WarwitchTV</a></li>
    </ul>

    <p>Thanks to everyone who's helped me out with the stream and anything related to it.</p>
</section>